<!-- <nav class="navbar navbar-static-top">
     -->
<nav class="navbar navbar-static-top navbar-dark indigo">
    <div class="container navbar navbar-nav">
        <ul class="nav navbar-nav">
            <li class="active"><a href="main">Home</a></li>
            <li *ngIf="!isLoggedIn()" class="active"><a href="login">Login</a></li>
            <li *ngIf="!isLoggedIn()" class="active"><a href="register">Register</a></li>
            <li *ngIf="isLoggedIn()" class="active"><a href="addProject">New Project</a></li>
            <li class="text">
                <h4>Crowdfunding</h4>
                <p>This is application that lets you interact with project owner, and you can give some money if you like the idea...</p>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li *ngIf="isLoggedIn()" class="active"><a (click)="logout()">Logout</a></li>
            <!-- <li class="active"><a href="main">Home</a></li> -->
        </ul>
    </div>
</nav>
<div class="container theme-showcase" role="main">
    <router-outlet></router-outlet>
</div>
<footer class=" navbar-fixed-bottom">
    Copyright &copy; <span id="copyright">2017</span> Tim4
</footer>