<form class="add-message" (ngSubmit)="addChatItem()">
    <div class="form-group">
        <label>Message</label>
        <textarea name="message" class="form-control" [(ngModel)]="chatText" maxlength="255"></textarea>
    </div>
    <div class="pull-right">
        <input type="submit" class="btn btn-primary" value="Add comment" />
    </div>
</form>
<br/>

<br/>
<div>
    <div *ngIf="chatItems">
        <div *ngFor="let item of chatItems">
            <p class="bg-success col-xs-12">{{item.message}}</p>
        </div>
    </div>
</div>